# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Cache or model data
cache/
*.lock
*.log

# Ignore model files (e.g., HuggingFace downloads)
models--*

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore SQLite or other DB files if any
*.sqlite3
*.db


